<% @title = @item.title -%>
<% @nav = @item.nav << [ 'Edit' ] -%>
<h1><%= @item.title -%></h1>
<% form_for :item, @item do |f| -%>
    <div>
      <%= f.submit 'Submit' %>
    </div>
    <div class="item_detail">
      <div class="item_detail_name"><%= "Ident" -%></div>
      <div class="item_detail_content">
        <%= f.text_field :ident %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.title') -%></div>
      <div class="item_detail_content">
        En: <%= f.text_field :title_en %>
        <br/>
        Fr: <%= f.text_field :title_fr %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name"><%= "Show in catalog?" -%></div>
      <div class="item_detail_content">
        <%= f.check_box :show %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.price') -%></div>
      <%= f.text_field :price %> Yens
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Availability</div>
      <div class="item_detail_content">
        Stock left (new): <%= f.text_field :stock_left_new, :size => 3 %>
        <br/>
        Stock left (perfect condition): <%= f.text_field :stock_left_perfect_condition, :size => 3 %>
        <br/>
        Stock left (good condition): <%= f.text_field :stock_left_good_condition, :size => 3 %>
        <br/>
        Stock left (medium condition): <%= f.text_field :stock_left_medium_condition, :size => 3 %>
        <br/>
        Stock left (poor condition): <%= f.text_field :stock_left_poor_condition, :size => 3 %>
        <br/>
        Purchase left: <%= f.text_field :purchase_left, :size => 3 %>
        <br/>
        Reservation left: <%= f.text_field :reservation_left, :size => 3 %> end at <%= f.text_field :reservation_end_date %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Dimensions &amp; weight</div>
      <div class="item_detail_content">
        Width: <%= f.text_field :dimension_width, :size => 4 %> mm
        <br/>
        Height: <%= f.text_field :dimension_height, :size => 3 %> mm
        <br/>
        Thickness: <%= f.text_field :dimension_thickness, :size => 3 %> mm
        <br/>
        Weight: <%= f.text_field :weight, :size => 4 %> g
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.description') -%></div>
      <div class="item_detail_content">
        En: <%= f.text_area :description_en, :size => '70x8' %>
        <br/>
        Fr: <%= f.text_area :description_fr, :size => '70x8' %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Author</div>
      <div class="item_detail_content">
        En: <%= f.text_field :author_en %>
        <br/>
        Fr: <%= f.text_field :author_fr %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Type</div>
      <div class="item_detail_content">
        En: <%= f.text_field :item_type_en %>
        <br/>
        Fr: <%= f.text_field :item_type_fr %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Pictures</div>
      <div class="item_detail_content">
        TODO
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Publisher</div>
      <div class="item_detail_content">
        En: <%= f.text_field :publisher_en %>
        <br/>
        Fr: <%= f.text_field :publisher_fr %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Track List</div>
      <div class="item_detail_content">
        TODO
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Test</div>
      <div class="item_detail_content">
        En: <%= f.text_area :test_en, :size => '70x8' %>
        <br/>
        Fr: <%= f.text_area :test_fr, :size => '70x8' %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Required config</div>
      <div class="item_detail_content">
        En: <%= f.text_area :required_config_en, :size => '70x8' %>
        <br/>
        Fr: <%= f.text_area :required_config_fr, :size => '70x8' %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Format</div>
      <div class="item_detail_content">
        En: <%= f.text_field :format_en %>
        <br/>
        Fr: <%= f.text_field :format_fr %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name">Warning</div>
      <div class="item_detail_content">
        En: <%= f.text_area :warning_en, :size => '70x8' %>
        <br/>
        Fr: <%= f.text_area :warning_fr, :size => '70x8' %>
      </div>
    </div>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.notes') -%></div>
      <div class="item_detail_content">
        En: <%= f.text_area :notes_en, :size => '70x8' %>
        <br/>
        Fr: <%= f.text_area :notes_fr, :size => '70x8' %>
      </div>
    </div>
    <div>
      <%= f.submit 'Submit' %>
    </div>
<% end -%>