<h1><%= @item.title -%></h1>
<div class="item_detail">
  <div class="item_detail_name">Price</div>
  <div class="item_detail_content"><%= @item.price_in_currency(current_currency) -%> <%= current_currency.symbol -%></div>
</div>
<div class="item_detail">
  <div class="item_detail_name">Availability</div>
  <div class="item_detail_content">
    <%= @item.stock_display -%>
    <% if @item.max_order > 0 -%>
      <% form_tag :controller => 'cart', :action => 'add', :id => @item.id do %>
        <%= text_field :op, :quantity, :size => 3, :value => '1' %>
        <%= submit_tag 'Add to cart' %>
      <% end -%>
    <% end -%>
  </div>
</div>
<div class="item_detail">
  <div class="item_detail_name">Description</div>
  <div class="item_detail_content"><%= @item.description -%></div>
</div>
<div class="item_detail">
  <div class="item_detail_name">Author</div>
  <div class="item_detail_content"><%= @item.author -%></div>
</div>
<div class="item_detail">
  <div class="item_detail_name">Type</div>
  <div class="item_detail_content"><%= @item.item_type -%></div>
</div>
<div class="item_detail">
  <div class="item_detail_name">Pictures</div>
  <div class="item_detail_content"><%= image_tag 'catalog/001_cover_big.jpg', :alt => "#{@item.title} #1", :size => '100x100' -%></div>
</div>
<% unless @item.publisher.nil? -%>
  <div class="item_detail">
    <div class="item_detail_name">Publisher</div>
    <div class="item_detail_content"><%= @item.publisher -%></div>
  </div>
<% end -%>
<% unless @item.tracklist.nil? -%>
  <div class="item_detail">
    <div class="item_detail_name">Track List</div>
    <div class="item_detail_content"><%= @item.tracklist -%></div>
  </div>
<% end -%>
<% unless @item.test.nil? -%>
  <div class="item_detail">
    <div class="item_detail_name">Test</div>
    <div class="item_detail_content"><%= @item.test -%></div>
  </div>
<% end -%>
<% unless @item.required_config.nil? -%>
  <div class="item_detail">
    <div class="item_detail_name">Required config</div>
    <div class="item_detail_content"><%= @item.required_config -%></div>
  </div>
<% end -%>
<% unless @item.format.nil? -%>
  <div class="item_detail">
    <div class="item_detail_name">Format</div>
    <div class="item_detail_content"><%= @item.format -%></div>
  </div>
<% end -%>
<% unless @item.warning.nil? -%>
  <div class="item_detail">
    <div class="item_detail_name">Warning</div>
    <div class="item_detail_content"><%= @item.warning -%></div>
  </div>
<% end -%>
<% unless @item.notes.nil? -%>
  <div class="item_detail">
    <div class="item_detail_name">Notes</div>
    <div class="item_detail_content"><%= @item.notes -%></div>
  </div>
<% end -%>
