<% @title = @item.title -%>
<% @nav = @item.nav -%>
<h1><%= @item.title -%></h1>
<% if admin? -%>
    <div>
      <%= button_to 'Edit', :action => 'edit', :id => @item %>
    </div>
<% end -%>
<div class="item_detail">
  <div class="item_detail_name"><%= t('item.price') -%></div>
  <div class="item_detail_content"><%= current_currency.format_yen_value(@item.price) -%></div>
</div>
<div class="item_detail">
  <div class="item_detail_name"><%= t('item.availability.title') -%></div>
  <div class="item_detail_content">
    <%= stock_display @item -%>
    <% if @item.max_order > 0 -%>
        <% form_tag :controller => 'cart', :action => 'add', :id => @item.id do %>
            <%= text_field :op, :quantity, :size => 3, :value => '1' %>
            <%= submit_tag t('item.add_to_cart') %>
        <% end -%>
    <% end -%>
  </div>
</div>
<div class="item_detail">
  <div class="item_detail_name"><%= t('item.description') -%></div>
  <div class="item_detail_content"><%= @item.description -%></div>
</div>
<div class="item_detail">
  <div class="item_detail_name"><%= t('item.author') -%></div>
  <div class="item_detail_content"><%= @item.author -%></div>
</div>
<div class="item_detail">
  <div class="item_detail_name"><%= t('item.type') -%></div>
  <div class="item_detail_content"><%= @item.item_type -%></div>
</div>
<div class="item_detail">
  <div class="item_detail_name"><%= t('item.pictures') -%></div>
  <div class="item_detail_content"><%= image_tag 'catalog/001_cover_big.jpg', :alt => "#{@item.title} #1", :size => '100x100' -%></div>
</div>
<% unless @item.publisher.nil? -%>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.publisher') -%></div>
      <div class="item_detail_content"><%= @item.publisher -%></div>
    </div>
<% end -%>
<% unless @item.tracklist.nil? -%>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.track_list') -%></div>
      <div class="item_detail_content"><%= @item.tracklist -%></div>
    </div>
<% end -%>
<% unless @item.test.nil? -%>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.test') -%></div>
      <div class="item_detail_content"><%= @item.test -%></div>
    </div>
<% end -%>
<% unless @item.required_config.nil? -%>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.required_conf') -%></div>
      <div class="item_detail_content"><%= @item.required_config -%></div>
    </div>
<% end -%>
<% unless @item.format.nil? -%>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.format') -%></div>
      <div class="item_detail_content"><%= @item.format -%></div>
    </div>
<% end -%>
<% unless @item.warning.nil? -%>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.warning') -%></div>
      <div class="item_detail_content"><%= @item.warning -%></div>
    </div>
<% end -%>
<% unless @item.notes.nil? -%>
    <div class="item_detail">
      <div class="item_detail_name"><%= t('item.notes') -%></div>
      <div class="item_detail_content"><%= @item.notes -%></div>
    </div>
<% end -%>
