<div class="category_controls">
  <span class="category_sort">
    <%= t('category.order.title') %>
    <%= (@sort == 'last-added') ? "<strong>#{t('category.order.last-added')}</strong>" : (link_to t('category.order.last-added'), :sort => 'last-added', :page => 1) %>
    |
    <%= (@sort == 'by-name') ? "<strong>#{t('category.order.by-name')}</strong>" : (link_to t('category.order.by-name'), :sort => 'by-name', :page => 1) %>
    |
    <%= (@sort == 'by-price') ? "<strong>#{t('category.order.by-price')}</strong>" : (link_to t('category.order.by-price'), :sort => 'by-price', :page => 1) %>
    |
    <%= (@sort == 'by-type') ? "<strong>#{t('category.order.by-type')}</strong>" : (link_to t('category.order.by-type'), :sort => 'by-type', :page => 1) %>
    |
    <%= (@sort == 'by-availability') ? "<strong>#{t('category.order.by-availability')}</strong>" : (link_to t('category.order.by-availability'), :sort => 'by-availability', :page => 1) %>
  </span>
  <span>&nbsp;</span>
  <span class="category_pages">
    Page
    <% 1.upto(@npages) do |i| -%>
        <% if @page == i -%>
            <%= "<strong>#{i}</strong>" %>
        <% else -%>
            <%= link_to i.to_s, :page => i %>
        <% end -%>
    <% end -%>
  </span>
</div>
