<tr id="category_item_<%= item.ident %>" class="category_item <%= (!item.show? and admin?) ? 'hidden_item' : cycle('odd', 'even') %>">
  <td class="category_item_picture" align="center">
    <% link_to( { :controller => 'item', :action => 'index', :ident => item.ident }) do %>
        <%= image_tag static_url(item.main_thumb.full_filename), :alt => item.title, :width => item.main_thumb.width/2, :height => item.main_thumb.height/2, :border => 1 %>
    <% end %>
  </td>
  <td class="category_item_description">
    <div class="category_item_description_title">
      <% link_to( { :controller => 'item', :action => 'index', :ident => item.ident }, :class => 'category_item') do %>
          <%= item.title %>
      <% end -%>
    </div>
    <div class="category_item_description_type">
      <%= t('category.item.type') %> <%= item.item_type %>
    </div>
    <div class="category_item_description_availability">
      <%= stock_display(item) %>
    </div>
  </td>
  <% if admin? -%>
      <td>
        <%= button_to 'Edit', { :controller => 'item', :action => 'edit', :id => item }, :method => :get %>
        <%= button_to 'Delete', { :controller => 'item', :action => 'delete', :id => item }, :confirm => 'Are you sure?' %>
      </td>
  <% end -%>
  <td class="category_item_price">
    <%= current_currency.format_yen_value(item.price) %>
  </td>
</tr>
