<% @title = @category.title -%>
<% @nav = @category.nav -%>
<h1><%= t('category.title', :title => @category.title) -%></h1>
<% if admin? -%>
    <div>
      <%= button_to 'New', :action => 'new_item', :id => @category %>
    </div>
<% end -%>
<% unless @display_items.empty? -%>
    <%= render :partial => 'controls' %>
    <table cellpadding="0" cellspacing="0" class="category_items">
      <tbody>
      <%= render :partial => 'category/item', :collection => @display_items %>
      </tbody>
    </table>
    <%= render :partial => 'controls' %>
<% else -%>
    <div><%= t('category.empty') -%></div>                             
<% end -%>
<script type="text/javascript">
    $(function() {
        $('.category_item').click(function() {
            var id = $(this).attr('id').substr(14);
            var url_base = '/item/';
            window.location = url_base + id;
        });
    });
</script>
