<% form_for :order do |f| -%>
    <%= f.hidden_field :id %>
    <div class="addresses">
      <% @user.user_addresses.each do |address| -%>
          <div class="address">
            <div class="address_selector">
              <%= f.radio_button :shipping_address_id, address.id %>
            </div>
            <%= render :partial => 'partials/address', :object => address %>
          </div>
      <% end -%>
      <div class="address">
        <div class="address_selector">
          <%= f.radio_button :shipping_address_id, 'new' %>
        </div>
        <div class="address_content">
          <%= link_to 'New address', :controller => 'user', :action => 'new_address' %>
        </div>
      </div>
    </div>
    <%= submit_tag 'Next >' %>
<% end -%>
