<% @title = t('cart.checkout.title') -%>
<% @nav = [ [ t('cart.edit.nav'), { :controller => 'cart', :action => 'index' } ], [ t('cart.checkout.nav') ] ] -%>
<% @hide_cart = true -%>
<h1><%= t('cart.checkout.title') -%></h1>
<div>Order #<%= @order.id -%></div>
<% form_for :order, @order do |f| -%>
    <table border="1">
      <thead>
      <tr>
        <th><%= t('cart.edit.number') -%></th>
        <th><%= t('cart.edit.item') -%></th>
        <th><%= t('cart.edit.quantity') -%></th>
        <th><%= t('cart.edit.unit_price') -%></th>
        <th><%= t('cart.edit.total_price') -%></th>
      </tr>
      </thead>
      <tbody>
      <% i = 0; @cart.cart_items.each do |cartItem| -%>
          <tr id="item_<%= cartItem.item_id -%>">
            <td><%= i = i + 1 -%></td>
            <td><%= cartItem.item.title -%></td>
            <td>
              <div id="item_<%= cartItem.item_id -%>_quantity"><%= cartItem.quantity -%></div>
            </td>
            <td><%= @order.currency.format_yen_value(cartItem.item.price) -%></td>
            <td>
              <div id="item_<%= cartItem.item_id -%>_total_price"><%= @order.currency.format_value(@order.currency.from_yen(cartItem.item.price) * cartItem.quantity) -%></div>
            </td>
          </tr>
      <% end -%>
      <tr>
        <td colspan="4"><%= t('cart.edit.grand_total') -%></td>
        <td>
          <div id="total_price"><%= @order.currency.format_value(@cart.total_price_in(@order.currency)) -%></div>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          Shipping to
          <%= f.collection_select :ship_to_country_id, Country.available_for_shipping, :id, :name, { :include_blank => 'Choose a country...' } %>
          <%= observe_field :order_ship_to_country_id, :url => { :action => 'estimate_shipping' }, :with => 'countryid' %>
          <div id="delivery_options">&nbsp;</div>
        </td>
        <td>
          <div id="shipping_price">N/A</div>
        </td>
      </tr>
      <tr>
        <td colspan="4"><%= "TOTAL" -%></td>
        <td>
          <div id="total_price_with_shipping">N/A</div>
        </td>
      </tr>
      </tbody>
    </table>
    <%= f.submit 'Shipping address &amp; Paypal >' %>
<% end -%>