<% @title = t('cart.edit.title') -%>
<% @nav = cart_index_nav -%>
<% @hide_cart = true -%>
<h1><%= @title -%></h1>
<% unless @cart.items_out_of_stock.empty? -%>
    <%= warning_box 'invalid_stocks', :content => t('cart.edit.fix_explain'), :button => button_to_remote(t('cart.edit.fix_button'), :url => { :action => 'fix_all' }) %>
    <script type="text/javascript">
        $(function() {
            $('#checkout_button').attr('disabled', true);
        <% @cart.items_out_of_stock.each do |ci| -%>
            $('#item_<%= ci.item_id %>').addClass('invalid_cart_item').css('background-color', 'red');
        <% end -%>
        });
    </script>
<% end -%>
<table cellpadding="0" cellspacing="1" border="0" class="cart">
  <thead>
  <tr class="cart_item even">
    <th class="cart_item_delete">&nbsp;</th>
    <th class="cart_item_title"><%= t('cart.edit.item') -%></th>
    <th class="cart_item_unit_price"><%= t('cart.edit.unit_price') -%></th>
    <th class="cart_item_quantity"><%= t('cart.edit.quantity') -%></th>
    <th class="cart_item_total_price"><%= t('cart.edit.total_price') -%></th>
  </tr>
  </thead>
  <tbody id="cart_body">
  <%= render :partial => 'cart_content' %>
  </tbody>
</table>
