<% if @ems_desc or @sal_desc -%>
    <div class="address">
      <div class="address_selector">
        <%= radio_button_tag :shipping_type, 'ems', false, :class => 'shippingMethodSelector', :disabled => @ems_price.nil? %>
      </div>
      <div class="address_content">
        <strong><%= t('user.orders.detail.delivery.ems') %></strong> <span class="shipment_price" id="ems_price"><%= @ems_desc -%></span>
        <br/>
        <%= t('user.orders.detail.delivery.ems_description') %>
      </div>
    </div>
    <div class="address">
      <div class="address_selector">
        <%= radio_button_tag :shipping_type, 'sal', false, :class => 'shippingMethodSelector', :disabled => @sal_price.nil? %>
      </div>
      <div class="address_content">
        <strong><%= t('user.orders.detail.delivery.sal') %></strong> <span class="shipment_price" id="sal_price"><%= @sal_desc -%></span>
        <br/>
        <%= t('user.orders.detail.delivery.sal_description') %>
      </div>
    </div>
    <script type="text/javascript">
        $(".shippingMethodSelector").change(function() {
            $.ajax({
                data:'shippingtype=' + $(this).val() + '&authenticity_token=' + encodeURIComponent('<%= form_authenticity_token -%>'),
                dataType:'script',
                type:'post',
                url:'<%= url_for :action => 'choose_shipping' %>'
            });
            $('#order_submit').attr('disabled', false);
        });
    </script>
<% end -%>