<div id="left_sidebar">
  <div class="menu_category"><%= t('layout.sidebar.user_menu.title') -%></div>
  <% if !logged_in -%>
    <%= render :partial => 'partials/signin' %>
  <% else -%>
    <%= render :partial => 'partials/signout' %>
  <% end -%>

  <div class="menu_category"><%= t('layout.sidebar.global_menu.title') -%></div>
  <div>
    <%= link_to t('layout.sidebar.global_menu.register'), :controller => 'user', :action => 'register' -%>
  </div>

  <div class="menu_category"><%= t('layout.sidebar.catalog') -%></div>
  <div>
    <%= render :partial => 'partials/category_and_sub', :collection => Category.root_categories %>
  </div>
</div>
