<div id="right_sidebar">
  <div class="sidebar_content">
    <div class="menu_category">
      <div class="menu_category_title">
        <%= image_tag "menuheader_settings_#{I18n.locale}.png", :width => 168, :height => 24, :alt => t('layout.sidebar.language') %>
      </div>
      <div class="menu_element">
        <%= render :partial => 'partials/language_and_currency' %>
      </div>
    </div>

    <div class="menu_category">
      <div class="menu_category_title">
        <%= image_tag "menuheader_user_#{I18n.locale}.png", :width => 168, :height => 24, :alt => t('layout.sidebar.user_menu.title') %>
      </div>
      <% if !logged_in -%>
          <%= render :partial => 'partials/signin' %>
      <% else -%>
          <%= render :partial => 'partials/signout' %>
      <% end -%>
    </div>

    <% unless @hide_cart -%>
        <div class="menu_category">
          <div class="menu_category_title">
            <%= image_tag "menuheader_cart_#{I18n.locale}.png", :width => 168, :height => 24, :alt => t('layout.sidebar.cart.title') %>
          </div>
          <div class="menu_element">
            <%= render :partial => 'partials/cart' %>
          </div>
        </div>
    <% end -%>
  </div>
</div>