<%= h shipping_address.ship_to_name %>
<br/>
<%= nl2br h shipping_address.ship_to_street %>
<br/>
<%= h shipping_address.ship_to_zip %> <%= h shipping_address.ship_to_city %>
<% if shipping_address.ship_to_state -%>
    <br/>
    <%= h shipping_address.ship_to_state %>
<% end -%>
<br/>
<%= h shipping_address.ship_to_country.name %>
<% if shipping_address.notes && shipping_address.notes.size > 0 -%>
    <br/>
    <span style="text-decoration:underline">Note:</span> <%= h shipping_address.notes %>
<% end -%>
