<div id="signout" class="sidebar_group">
  <%= t('layout.sidebar.user_menu.logged_as', :name => @user.login) %>
  <div class="hr"></div>
  <!--<%= link_to t('layout.sidebar.user_menu.user_home'), :controller => 'user', :action => 'index' -%>-->
  <!--<div class="hr"></div>-->
  <% if admin? -%>
      (ADMIN) <%= link_to 'Assets', :controller => 'assets', :action => 'index' -%>
      <div class="hr"></div>
      (ADMIN) <%= link_to 'All items', :controller => 'item', :action => 'view_all' -%>
      <div class="hr"></div>
  <% end -%>
  <%= link_to t('layout.sidebar.user_menu.user_orders'), :controller => 'user', :action => 'orders' -%>
  <div class="hr"></div>
  <%= link_to t('layout.sidebar.user_menu.logout_button'), :controller => 'user', :action => 'logout' -%>
</div>
