<% if @ems_desc or @sal_desc -%>
    <div class="address">
      <div class="address_selector">
        <%= radio_button_tag :shipping_type, 'ems', false, :class => 'shippingMethodSelector', :disabled => @ems_price.nil? %>
      </div>
      <div class="address_content">
        <strong>EMS</strong> <span id="ems_price"><%= @ems_desc -%></span>
        <br/>
        <ul>
          <li>fully insured</li>
          <li>tracking number</li>
          <li>about 5 days</li>
        </ul>
      </div>
    </div>
    <div class="address">
      <div class="address_selector">
        <%= radio_button_tag :shipping_type, 'sal', false, :class => 'shippingMethodSelector', :disabled => @sal_price.nil? %>
      </div>
      <div class="address_content">
        <strong>SAL</strong> <span id="sal_price"><%= @sal_desc -%></span>
        <br/>
        <ul>
          <li>insured up to 30000 Yens</li>
          <li>no tracking number</li>
          <li>about 10 days</li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
        $(".shippingMethodSelector").change(function() {
            $.ajax({
                data:'shippingtype=' + $(this).val() + '&authenticity_token=' + encodeURIComponent('<%= form_authenticity_token -%>'),
                dataType:'script',
                type:'post',
                url:'<%= url_for :action => 'choose_shipping' %>'
            });
            $('#order_submit').attr('disabled', false);
        });
    </script>
<% end -%>