<%= h @order.ship_to_name %>
<br/>
<%= nl2br h @order.ship_to_street %>
<br/>
<%= h @order.ship_to_zip %> <%= h @order.ship_to_city %>
<% if @order.ship_to_state -%>
    <br/>
    <%= h @order.ship_to_state %>
<% end -%>
<br/>
<%= h((@paypal_alternative_country != nil) ? @paypal_alternative_country.name : @order.ship_to_country.name) %>
<% if @order.notes && @order.notes.size > 0 -%>
    <br/>
    <span style="text-decoration:underline">Note:</span> <%= h @order.notes %>
<% end -%>
