<% @title = "Order confirmed" -%>
<% @nav = [ [ t('cart.edit.nav'), { :controller => 'cart', :action => 'index' } ], [ t('cart.checkout.nav') ] ] -%>
<% @hide_cart = true -%>
<h1><%= @title -%></h1>
<div>Order #<%= @order.id -%></div>
The order has been validated successfully. An e-mail confirmation has been sent to <%= @user.email -%>. We will send you
another e-mail when we ship your order. You can also view the status of your order in <strong>My Home</strong> any time.
Thank you for purchasing at Touhou Shop!
<table border="1">
  <thead>
  <tr>
    <th><%= t('cart.edit.number') -%></th>
    <th><%= t('cart.edit.item') -%></th>
    <th><%= t('cart.edit.quantity') -%></th>
    <th><%= t('cart.edit.unit_price') -%></th>
    <th><%= t('cart.edit.total_price') -%></th>
  </tr>
  </thead>
  <tbody>
  <% i = 0; @order.order_items.each_with_index do |oi, i| -%>
      <tr id="item_<%= oi.item_id -%>">
        <td><%= i + 1 -%></td>
        <td><%= oi.item.title -%></td>
        <td>
          <div id="item_<%= oi.item_id -%>_quantity"><%= oi.quantity -%></div>
        </td>
        <td><%= @order.currency.format_yen_value(oi.item.price) -%></td>
        <td>
          <div id="item_<%= oi.item_id -%>_total_price"><%= @order.currency.format_value(@order.currency.from_yen(oi.item.price) * oi.quantity) -%></div>
        </td>
      </tr>
  <% end -%>
  <tr>
    <td colspan="4"><%= t('cart.edit.grand_total') -%></td>
    <td>
      <div id="total_price"><%= @order.currency.format_value(@order.items_total_price) -%></div>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      Shipping to <%= @order.ship_to_country.name -%> by <%= @order.shipping_type %>
    </td>
    <td>
      <div id="shipping_price"><%= @order.currency.format_value(@order.shipping_price) -%></div>
    </td>
  </tr>
  <tr>
    <td colspan="4"><%= "TOTAL" -%></td>
    <td>
      <div id="total_price_with_shipping"><%= @order.currency.format_value(@order.total_price) -%></div>
    </td>
  </tr>
  </tbody>
</table>
<div id="shipping_address">
  <div><strong>Shipping address</strong></div>
  <div>
    <%= @order.ship_to_name %>
    <br/>
    <%= @order.ship_to_street %>
    <br/>
    <%= @order.ship_to_zip %> <%= @order.ship_to_city %>
    <br/>
    <%= @order.ship_to_state %>
    <br/>
    <%= @order.ship_to_country.name %>
  </div>
</div>
