<% @title = "Checkout - Review &amp; confirm" -%>
<% @nav = [ [ t('cart.edit.nav'), { :controller => 'cart', :action => 'index' } ], [ t('cart.checkout.nav') ] ] -%>
<% @hide_cart = true -%>
<h1><%= @title -%></h1>
<div>Order #<%= @order.id -%></div>
<table border="1">
  <thead>
  <tr>
    <th><%= t('cart.edit.number') -%></th>
    <th><%= t('cart.edit.item') -%></th>
    <th><%= t('cart.edit.quantity') -%></th>
    <th><%= t('cart.edit.unit_price') -%></th>
    <th><%= t('cart.edit.total_price') -%></th>
  </tr>
  </thead>
  <tbody>
  <% i = 0; @order.order_items.each_with_index do |oi, i| -%>
      <tr id="item_<%= oi.item_id -%>">
        <td><%= i + 1 -%></td>
        <td><%= oi.item.title -%></td>
        <td>
          <div id="item_<%= oi.item_id -%>_quantity"><%= oi.quantity -%></div>
        </td>
        <td><%= @order.currency.format_yen_value(oi.item.price) -%></td>
        <td>
          <div id="item_<%= oi.item_id -%>_total_price"><%= @order.currency.format_value(@order.currency.from_yen(oi.item.price) * oi.quantity) -%></div>
        </td>
      </tr>
  <% end -%>
  <tr>
    <td colspan="4"><%= t('cart.edit.grand_total') -%></td>
    <td>
      <div id="total_price"><%= @order.currency.format_value(@order.items_total_price) -%></div>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      Shipping to <span id="shipping_country"><%= @order.ship_to_country.name -%></span> by <%= @order.shipping_type %>
    </td>
    <td>
      <div id="shipping_price"><%= @order.currency.format_value(@order.shipping_price) -%></div>
    </td>
  </tr>
  <tr>
    <td colspan="4"><%= "TOTAL" -%></td>
    <td>
      <div id="total_price_with_shipping"><%= @order.currency.format_value(@order.total_price) -%></div>
    </td>
  </tr>
  </tbody>
</table>
<% if @paypal_alternative_country -%>
    <div id="paypal_alternative_country">
      <p>WARNING: the shipping address you have entered in your Paypal payment form is located in another country
        (<%= @paypal_alternative_country.name -%>)
        than the one you selected for computing shipping costs (<%= @order.ship_to_country.name -%>). You have to
        recompute shipping
        costs before you can confirm your order.</p>

      <p><%= button_to_remote "Recompute shipping to #{@paypal_alternative_country.name}", :url => { :action => 'recompute_shipping' } -%></p>
    </div>
<% end -%>
<div>
  <div><strong>Shipping address</strong></div>
  <div id="shipping_address">
    <%= render :partial => 'shipping_address' %>
  </div>
</div>
<% form_tag :action => 'confirmation' do -%>
    <%= submit_tag 'Confirm order', :disabled => (@paypal_alternative_country != nil), :id => 'confirm_order' %>
<% end -%>