<% @title = t('checkout.review.title') -%>
<% @nav = order_review_nav -%>
<% @hide_cart = true -%>
<h1><%= @title -%></h1>
<%= render :partial => 'partials/order', :object => @order, :locals => { :editable_address => true } %>
<div id="shipping_address">
  <%= render :partial => 'partials/shipping_address', :object => @order, :locals => { :editable_address => true } %>
</div>
<div id="paypal_alternative_country" class="warning_box" style="display:none;">
  <%= render :partial => 'alternative_country', :locals => { :order => @order } %>
</div>
<% if @order.ship_to_country != @order.shipping_calculated_for_country -%>
    <script type="text/javascript">
        $(function() {
            $('#paypal_alternative_country').show();
            disableConfirm();
        });
    </script>
<% end -%>
<div class="bottom_button">
  <% form_tag :action => 'confirmation' do -%>
      <%= image_submit_tag 'confirm_order_button.png', :width => 209, :height => 64, :alt => t('checkout.review.confirm_button'), :id => 'confirm_order' %>
  <% end -%>
  <div class="bottom_button_explain">
    <%= t('checkout.review.confirm_button_explain') %>
  </div>
</div>
<script type="text/javascript">
    function enableConfirm() {
        $('#confirm_order').attr('src', '/images/confirm_order_button.png').attr('disabled', false);
    }
    function disableConfirm() {
        $('#confirm_order').attr('src', '/images/confirm_order_button_disabled.png').attr('disabled', true);
    }
</script>
