<div class="faq_category">
  <%= faq_category.toc_entry %>  
</div>
<% for item in faq_category.children -%>
    <a name="<%= item.id %>"></a>

    <div class="faq_item">
      <div class="faq_question">
        <%= image_tag 'faq_aya.png', :width => 56, :height => 80, :alt => t('faq.question') %>
        <%= item.question %>
      </div>
      <div class="hr"></div>
      <div class="faq_answer">
        <%= image_tag "faq_#{item.answer_avatar}.png", :height => 80, :alt => t('faq.answer') %>
        <%= item.answer %>
      </div>
    </div>
<% end -%>