<% @title = t('faq.title') -%>
<% @nav = [ [ t('faq.nav') ] ] -%>
<h1><%= @title %></h1>
<%= warning_box 'translation_warning', :content => t('layout.warning.translation') if I18n.locale == 'fr' %>
<div id="table">
  <ol class="table_of_contents">
    <% for cat in @categories -%>
        <div class="category"><%= cat.toc_entry %></div>
        <% for item in cat.children -%>
            <li><a href="#<%= item.id %>"><%= item.toc_entry %></a></li>
        <% end -%>
    <% end -%>
  </ol>
</div>
<div id="faq_content">
  <%= render :partial => 'faq_category', :collection => @categories %>
</div>