<% @title = t('user.forgot_password.title') -%>
<% @nav = [ [ t('user.forgot_password.nav') ] ] -%>
<h1><%= @title -%></h1>
<p><%= t('user.forgot_password.explain') %></p>
<% form_tag() do -%>
    <table cellpadding="0" cellspacing="1" class="register_content">
      <tbody>
      <tr class="register_field even">
        <td class="register_field_label">
          <label for="email">
            <%= t('user.register.email') %>
          </label>
        </td>
        <td class="register_field_value">
          <%= text_field_tag :email, @email, :size => 20 %>
        </td>
      </tr>

      <tr class="register_field odd">
        <td class="register_submit" colspan="2">
          <%= submit_tag t('user.forgot_password.button') %>
        </td>
      </tr>
      </tbody>
    </table>
<% end -%>
