<% @title = t('user.orders.list.title') -%>
<% @nav = [ [ t('user.home.nav'), { :action => 'index' } ], [ t('user.orders.list.nav') ] ] -%>
<h1><%= @title -%></h1>
<% unless @orders.empty? -%>
    <table border="1">
      <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Total price</th>
        <th>Status</th>
        <th>Details?</th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| -%>
          <tr>
            <td><%= "##{order.id}" %></td>
            <td><%= order.payment_date -%></td>
            <td><%= order.currency.format_value(order.total_price) -%></td>
            <td><%= order.status -%></td>
            <td><%= button_to t('user.orders.list.details_button'), { :action => 'order', :id => order }, :method => :get %></td>
          </tr>
      <% end -%>
      </tbody>
    </table>
<% else -%>
    <div>(none)</div>
<% end -%>
