<% @title = t('user.reset_password.title') -%>
<% @nav = [ [ t('user.reset_password.nav') ] ] -%>
<h1><%= @title -%></h1>
<p><%= t('user.reset_password.explain', :user => @user.login) %></p>
<% form_tag() do -%>
    <table cellpadding="0" cellspacing="1" class="register_content">
      <tbody>
      <tr class="register_field even">
        <td class="register_field_label">
          <label for="password">
            <%= t('user.register.password') %>
          </label>
        </td>
        <td class="register_field_value">
          <%= text_field_tag :password, '', :size => 8 %>
          <span class="register_field_check">
            <%= image_tag 'validator_help.png', :width => 16, :height => 16, :alt => '', :id => 'user_password_check' %>
          </span>
        </td>
      </tr>

      <tr class="register_field odd">
        <td class="register_field_label">
          <label for="password_confirmation">
            <%= t('user.register.password_confirmation') %>
          </label>
        </td>
        <td class="register_field_value">
          <%= text_field_tag :password_confirmation, '', :size => 8 %>
          <span class="register_field_check">
            <%= image_tag 'validator_help.png', :width => 16, :height => 16, :alt => '', :id => 'user_password_confirmation_check' %>
          </span>
        </td>
      </tr>

      <tr class="register_field even">
        <td class="register_submit" colspan="2">
          <%= submit_tag t('user.reset_password.button'), :disabled => true, :id => 'signup_button' %>
        </td>
      </tr>
      </tbody>
    </table>
<% end -%>
<script type="text/javascript">
    $(function() {
        var password_ok, password_confirmation_ok = false;

        function activate_submit() {
            var ok = password_ok && password_confirmation_ok;
            $('#signup_button').attr('disabled', !ok);
        }

        function validate_password() {
            if ($('#password').val().match(/^[^\s]{6,40}$/)) {
                $('#user_password_check').attr('src', '/images/validator_ok.png');
                password_ok = true;
            } else {
                $('#user_password_check').attr('src', '/images/validator_ko.png');
                password_ok = false;
            }
            if ($('#password_confirmation').val() == $('#password').val()) {
                $('#user_password_confirmation_check').attr('src', '/images/validator_ok.png');
                password_confirmation_ok = true;
            } else {
                $('#user_password_confirmation_check').attr('src', '/images/validator_ko.png');
                password_confirmation_ok = false;
            }
            activate_submit();
        }

        $('#password').keyup(validate_password).change(validate_password);
        $('#password_confirmation').keyup(validate_password).change(validate_password);
    });
</script>
