<% @title = "Assets" -%>
<% @nav = [ [ 'Assets', { :action => 'index' } ] ] -%>
<% @fullwidth = true -%>
<h1>Assets</h1>
<%= button_to 'Upload new asset', { :action => 'upload' }, :method => :get %>
<table border="1">
  <thead>
  <tr>
    <th>#</th>
    <th>View</th>
    <th>Actions</th>
    <th>File</th>
    <th>Dimensions</th>
    <th>Title</th>
    <th>Notes</th>
  </tr>
  </thead>
  <tbody>
  <% @assets.each do |a| -%>
      <tr>
        <td><%= a.id %></td>
        <td>
          <%= render :partial => 'partials/thumb', :object => a %>
        </td>
        <td>
          <%= button_to 'Edit', { :action => 'edit', :id => a }, :method => :get %>
          <%= button_to 'Delete', { :action => 'delete', :id => a }, :confirm => 'Are you sure?' %>
        </td>
        <td>
          <%= a.filename %>
          <br/>
          <%= number_to_human_size a.filesize %>
          <br/>
          <%= a.mime_type %>
        </td>
        <td>
          (original) <%= "#{a.width}x#{a.height}" %>
          <br/>
          (thumb) <%= "#{a.thumb.width}x#{a.thumb.height}" %>
        </td>
        <td>
          (en) <%= a.title_en %>
          <br/>
          (fr) <%= a.title_fr %>
        </td>
        <td><%= a.notes %></td>
      </tr>
  <% end -%>
  </tbody>
</table>
