<% @title = 'Edit blog post' -%>
<% @nav = blog_post_nav(@post) << [ 'Edit' ] -%>
<h1><%= @title %></h1>
<% form_for :post do |f| -%>

    <div id="register_error"><%= error_messages_for 'post' %></div>

    <div class="register_field">
      <label for="post_title_en">Ident</label>
      <%= f.text_field :ident %>
    </div>

    <div class="register_field">
      <label for="post_title_en">Title (en)</label>
      <%= f.text_field :title_en %>
    </div>

    <div class="register_field">
      <label for="post_title_fr">Title (fr)</label>
      <%= f.text_field :title_fr %>
    </div>

    <div class="register_field">
      <label for="post_content_en">Content (en)</label>
      <%= f.text_area :content_en %>
    </div>

    <div class="register_field">
      <label for="post_content_fr">Content (fr)</label>
      <%= f.text_area :content_fr %>
    </div>

    <%= submit_tag 'Submit' %>
<% end -%>