<% @title = 'New blog post' -%>
<% @nav = blog_index_nav << [ 'New post' ] -%>
<h1><%= @title %></h1>
<% form_for :post do |f| -%>

    <div class="register_field">
      <label for="post_title_en">Title (en)</label>
      <%= f.text_field :title_en %>
    </div>

    <div class="register_field">
      <label for="post_title_fr">Title (fr)</label>
      <%= f.text_field :title_fr %>
    </div>

    <div class="register_field">
      <label for="post_content_en">Content (en)</label>
      <%= f.text_area :content_en %>
    </div>

    <div class="register_field">
      <label for="post_content_fr">Content (fr)</label>
      <%= f.text_area :content_fr %>
    </div>

    <%= submit_tag 'Submit' %>
<% end -%>