<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Touhou Shop<%= " - #{@title}" if @title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'flyout' %>
  <%= javascript_include_tag 'flowplayer' %>
  <%= javascript_include_tag 'jplayer' %>
</head>
<body>
<div id="page">
  <%= render :partial => 'partials/header' %>
  <div class="clearfix">
    <%= render :partial => 'partials/left_sidebar' %>
    <div id="twocols" class="clearfix">
      <div id="centercol">
        <div id="content">
          <%= render :partial => 'partials/navbar' %>
          <% if flash[:debug] -%>
            <div id="debug"><%= flash[:debug] -%></div>
          <% end -%>
          <% if flash[:notice] -%>
            <div id="notice"><%= flash[:notice] -%></div>
          <% end -%>
          <% if flash[:error] -%>
            <div id="error"><%= flash[:error] -%></div>
          <% end -%>
          <%= yield %>
        </div>
      </div>
      <%= render :partial => 'partials/right_sidebar' %>
    </div>
  </div>
  <div id="footer">Touhou Shop © 2009</div>
  <%= render :partial => 'partials/chibi' %>
</div>
</body>
</html>