<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Touhou Shop<%= " - #{@title}" if @title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'flyout' %>
  <%= javascript_include_tag 'flowplayer' %>
  <%= javascript_include_tag 'jplayer' %>
  <% if @fullwidth -%>
      <script type="text/javascript">
          $(function() {
              enableFullWidthLayout();
          });
      </script>
  <% end -%>
  <script type="text/javascript">
      $(function() {
          $('.thumb a').flyout({
              loadingText: "<%= t('item.pictures.loading') -%>",
              closeTip: "<%= t('item.pictures.close') -%>"
          });
      });
  </script>
</head>
<body>
<div id="page">
  <%= render :partial => 'partials/header' %>
  <div>
    <table id="content_table" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="3" id="content_container_top"></td>
      </tr>
      <tr>
        <td id="left_sidebar">
          <%= render :partial => 'partials/left_sidebar' %>
        </td>
        <td id="centercol">
          <div id="content">
            <%= render :partial => 'partials/navbar' %>
            <% if flash[:debug] -%>
                <div id="debug">
                  <%= flash[:debug] -%>
                </div>
            <% end -%>
            <% if flash[:error] -%>
                <div id="error">
                  <table cellpadding="0" cellspacing="0" id="error_content">
                    <tr>
                      <td><%= flash[:error] -%></td>
                    </tr>
                  </table>
                </div>
            <% end -%>
            <% if flash[:notice] -%>
                <div id="notice">
                  <table cellpadding="0" cellspacing="0" id="notice_content">
                    <tr>
                      <td><%= flash[:notice] -%></td>
                    </tr>
                  </table>
                </div>
            <% end -%>
            <%= yield %>
          </div>
        </td>
        <td id="right_sidebar">
          <%= render :partial => 'partials/right_sidebar' %>
        </td>
      </tr>
      <tr>
        <td colspan="3" id="content_container_bottom"></td>
      </tr>
    </table>
  </div>
  <table cellpadding="0" cellspacing="0" id="footer">
    <tr>
      <td id="footer_content">Touhou Shop © 2009</td>
    </tr>
  </table>
</div>
</div>
</body>
</html>