<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= "#{@title} - " if @title %>Touhou Shop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Language" content="<%= I18n.locale %>"/>
  <meta name="description" content="<%= t('layout.meta.description') %>"/>
  <%= auto_discovery_link_tag :rss, { :controller => 'rss', :action => 'items' }, { :title => t('rss.items.title') } %> 
  <%= stylesheet_link_tag 'style' %>
  <!--[if IE]>
  <%= stylesheet_link_tag 'ie' %>
  <![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'flyout' %>
  <script type="text/javascript">
      jQuery(function($) {
          $('.flyout a').flyout({
              loadingText: "<%= t('item.pictures.loading') -%>",
              closeTip: "<%= t('item.pictures.close') -%>"
          });
      });
  </script>
</head>
<body>
<div id="page">
  <%= render :partial => 'partials/header' %>
  <div>
    <table id="content_table" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="3" id="content_container_top"></td>
      </tr>
      <tr>
        <td id="left_sidebar">
          <%= render :partial => 'partials/left_sidebar' %>
        </td>
        <td id="centercol">
          <div id="content">
            <%= render :partial => 'partials/navbar' %>
            <% if flash[:debug] -%>
                <div id="debug">
                  <%= flash[:debug] -%>
                </div>
            <% end -%>
            <% if flash[:error] -%>
                <div id="error">
                  <table cellpadding="0" cellspacing="0" id="error_content">
                    <tr>
                      <td><%= flash[:error] -%></td>
                    </tr>
                  </table>
                </div>
            <% end -%>
            <% if flash[:notice] -%>
                <div id="notice">
                  <table cellpadding="0" cellspacing="0" id="notice_content">
                    <tr>
                      <td><%= flash[:notice] -%></td>
                    </tr>
                  </table>
                </div>
            <% end -%>
            <%= yield %>
          </div>
        </td>
        <td id="right_sidebar">
          <%= render :partial => 'partials/right_sidebar' %>
        </td>
      </tr>
      <tr>
        <td colspan="3" id="content_container_bottom"></td>
      </tr>
    </table>
  </div>
  <table cellpadding="0" cellspacing="0" id="footer">
    <tr>
      <td id="footer_content"><%= t('layout.footer', :shop_c => copyright_time(2009), :shop_link => link_to('Touhou Shop', :controller => 'home'), :touhou_c => copyright_time(1996), :touhou_link => link_to('Team Shanghai Alice', 'http://www16.big.or.jp/~zun', :popup => true), :walfas_link => link_to('KirbyM', 'http://www.walfas.org', :popup => true)) %></td>
    </tr>
  </table>
</div>
</body>
</html>